<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/mixing"
        android:label="@string/app_name"
        android:roundIcon="@drawable/mixing"
        android:supportsRtl="true"
        android:theme="@style/Theme.Recipes"
        tools:targetApi="31">
        <activity
            android:name=".catagory.catagory_recipe"
            android:exported="false" />
        <activity
            android:name=".showdata.searchActivity"
            android:exported="false"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".showdata.show_data"
            android:exported="false" />
        <activity
            android:name=".drawerActivity.privacy"
            android:exported="false" />
        <activity
            android:name=".drawerActivity.aboutus"
            android:exported="false" />
        <activity
            android:name=".login.forgetpassword"
            android:exported="false" />
        <activity
            android:name=".login.singUp"
            android:exported="false" />
        <activity
            android:name=".login.signIn"
            android:exported="false" />
        <activity
            android:name=".login.splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>